<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node Sample App </title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <h1>This Is NoRoKu Dope!!</h1>
        <p>
          This is the sample ... 
        </p>
      </div>
    </div>


  </body>
</html>
